@use "../mixins/responsive.scss" as *;
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  width: 327px;
  padding: 1.5rem;
  border-radius: 0.75rem;

  &__image {
    border-radius: 100rem;
    width: 5.5rem;
    margin-bottom: 1.5rem;
  }

  @include responsive(laptop) {
    width: 384px;
  }
}
